.van-sidebar-item__info{
    background-color: rgb(70, 182, 242);
}
.van-info {
    top: -2px;
    right: -7px;
}
.van-dropdown-menu__title--active {
color:rgb(70, 182, 242);
}
.van-sidebar-item--select::before {
    background-color: rgb(70, 182, 242);
}
.van-card__price-integer {
    font-size: -3px;
    color: rgb(155, 155, 155);
}
.van-card__price {
    color: rgb(155, 155, 155);
    font-size: -3px;
}
.van-card__title{
    margin-left: 42px;
    font-size: 15px;
}
.van-card__price-integer {
    font-size: 12px;
}
.van-tag--danger.van-tag--plain {
    top: -39px;
    right: -37px;
    bottom: 41px;
    left: 0px;
    border: 1px solid #ffcd38;
    font-size: 15px;
    color: #000000;
    background-color: #f4b700;
}
.van-card{
    padding: 8px -2px;
}
.van-cell{
    padding: 10px 0px;
}
.van-grid-item__icon {
    font-size: 46px;
}